@font-face {
    font-family: Comfortaa;
    src: url(/fonts/Comfortaa-VariableFont_wght.ttf);
}


/* Основные стили: цвет, форма, анимации и т.д */

* {
    font-family: 'Comfortaa';
}

body {
    background: #212121;
    color: #E8A236;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #f4143f;
}


header {
    transform: translateY(-150%);
    animation: ani 1s forwards;
}

.topnav {
    transform: translateY(-150%);
    animation: ani 1s forwards;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

.topnav a {
    float: right;
    color: #E8A236;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav :hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

.logo {
    top: 10px;
    position: relative;
    right: -20px;
}

footer {
    transform: translateY(-150%);
    animation: anim-cont-foot 1s forwards;
    text-align: center;
    color: rgb(126, 126, 126);
}

.content {
    transform: translateX(-150%);
    animation: anim-cont-foot 1s forwards;
}

.accordion-item {
    background-color: #313131;
}

/* Анимации */

@keyframes ani {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes anim-cont-foot {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Здесь блок */
.block1 {
    background: #313131;
    padding: 20px;
    border-radius: 5px;

}